body {
    background-color: rgb(219, 219, 219);
}

h1 {
    text-align: center;
}

p.p1 {
    text-align: center;
}

p.p2 {
    text-align: center;
}

p.p3 {
    text-align: center;
}

p.p4 {
    text-align: center;
}