body {
    background-color: rgb(219, 219, 219);
}

p.p1 {
    text-align: center;
}

p.p2 {
    text-align: center;
}

p.p3 {
    text-align: center;
}

p.p4 {
    text-align: center;
}

p.p5 {
    text-align: center;
}

p.p6 {
    text-align: center;
}

h1 {
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-color: red;
    border-style: solid;
    font-size: 50px;
}

h2 {
    text-align: center;
}


/*
ul.ul1 {
    text-align: center;
}

ol.ol1 {
    text-align: center;
}
*/

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.li1 {
    float: left;
}

.a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li1 a:hover {
    background-color: rgb(17, 17, 17);
}

.li1 a:hover:not(.active) {
    background-color: rgb(17, 17, 17);
}