body {
    background-color: rgb(219, 219, 219);
}

p.p1 {
    text-align: center;
}

p.p2 {
    text-align: center;
}

p.p3 {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 20px;
    border: 5px;
    border-radius: 5px;
    border-color: red;
    border-style: solid;
}

p.p4 {
    text-align: center;
}