body {
    background-color: rgb(219, 219, 219);
}

p.p1 {
    text-align: center;
}

p.p2 {
    text-align: center;
}

p.p3 {
    text-align: center;
}

p.p4 {
    text-align: center;
}

p.p5 {
    text-align: center;
}

p.p6 {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


/*
ul.ul1 {
    text-align: center;
}

ol.ol1 {
    text-align: center;
}
*/